*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  min-height: 100vh;
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}

body{
  font-size: 1.5rem;
  background: linear-gradient(to bottom, #003429, #079481);
  color: #fff;
}

.App{
  background: linear-gradient(to bottom, #000, rgb(42, 42, 42));
  width: 50%;
 margin: 3rem auto; 
 padding: 3%;
 border-radius: 1rem;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-control{
  width: 70%;
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.btn-add{
  width: 70%;
  border: none;
  outline: none;
  background: linear-gradient(to bottom, #055c47, #046f618d);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  border-radius: 0.5rem;
  font-family: inherit;
  text-transform: uppercase;
  padding: 1rem 2rem;
  margin-top: 2rem;
}
label{
  align-self: flex-start;
  transform: translateY(2rem);
}
.posts{
  margin: 5rem 0;
  padding: 2rem;
}
.post-item{
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background: linear-gradient(to bottom, #055c47, #046f618d);
}
.author-details{
  display: flex;
  gap: 2rem;
  padding: 1rem 0;
}
h1{
  font-size: 3rem;
  text-transform: capitalize;
  padding-bottom: 1rem;
}
h2{
  font-size: 2rem;
  font-weight: 300;
}
h3{
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 300;

}
h4{
  font-size: 1.3rem;
  font-weight: 300;
}
.reactions button{
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.reactions span.emoji{
  color: #fff;
  padding-right: 0.4rem;
}
.reactions span.num{
  color: #fff;
  padding-right: 0.8rem;
}
.text-center{
  text-align: center;
}
button:disabled{
  background: grey;
}
@media screen and (max-width: 800px) {
  .App{
    width: 93%;
  }
}